@font-face {
  font-family: 'SukhumvitSet';
  src: url('../font/SukhumvitSet-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SukhumvitSet';
  src: url('../font/SukhumvitSet-Bold.woff') format('woff');
  font-weight: 700;
}

/* Layout */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #80CEC7, #93B8D2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* ขยายให้เต็มพื้นที่ก่อน footer */
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  background: transparent;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: white;
  font-family: 'SukhumvitSet', sans-serif;
}

.nav-buttons button {
  margin-left: 8px;
  padding: 8px 12px;
  border: none;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'SukhumvitSet', sans-serif;
}

.student-info {
  background-color: #e8f6f6;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  text-align: left;
}

.back-btn {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-card {
  margin-top: 16px;
  margin-left: 50px;
  font-family: 'SukhumvitSet', sans-serif;
}

.profile-btn {
  font-size: 1.5rem;
  background: white;
  padding: 0.4rem;
  border-radius: 50%;

}

.profile-icon {
  font-size: 60px;
  margin-bottom: 16px;
}

.logout-btn {
  font-family: 'SukhumvitSet', sans-serif;
  margin-top: 20px;
  margin-left: 43%;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  background: rgba(255, 255, 255, 0.25);
  color: #333;
  text-align: center;
  padding: 16px;
  font-size: 12px;
}

.footer-text {
  font-family: 'SukhumvitSet', sans-serif;
}
